<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLW</title>
    <link rel="stylesheet" href="./style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Roboto:wght@900&display=swap" rel="stylesheet">
</head>
    <body>
        <div id="app">
            <header>
                <img src="../../assets/logo.svg" alt="">
            </header>
            <main id="cards">
                <div class="card">
                    <h2>24/11 <span>quinta</span></h2>

                    <ul>
                        <li>
                            <img src="../../../assets/icone-suiça.svg">
                            <strong>7:00</strong>
                            <img src="../../assets/camarao.svg">
                        </li>
                        <br>
                        <li>
                            <img src="../../assets/portugal.svg">
                            <strong>13:00</strong>
                            <img src="../../assets/ghana.svg">
                        </li>
                        <br>
                        <li>
                            <img src="../../assets/icone-brasil.svg">
                            <strong>16:00</strong>
                            <img src="../../assets/icone-servia.svg">
                        </li>
                    </ul>
                </div>
            </main>
            <footer></footer>
        </div>
        <script src="../../public/js/home.js"></script>   
    </body>
</html>